* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    &.noscroll {
        position: static !important;
        width: 100%;
        height: 100%;
        overflow: hidden !important;
        overflow-y: hidden !important;
        margin: 0;
        padding: 0;
    }
}
// google font
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&family=Playfair+Display&display=swap');

// 最外圍預設為100%
.wrapper {
    width: 100%;
    margin: 0px auto;
    @include screen('mobile') {
        background: #fff;
        overflow: hidden;
        overflow-x: hidden !important;
        overflow-y: auto;
    }
}

// 整體共用container樣式，請注意首頁切版頁面的整齊
.container {
    padding: 0 1em;
    margin: 0 auto;
    max-width: $container-max; //請看_variable.scss
}

.main {
    position: relative;
    margin: 0 auto;
    // 可先設定一個中央區塊最大寬，限制accesskey對齊
    h2 {
        line-height: 1.25em;
    }
}

////////////////////////////////////////////////////////////
// 為了與首頁區隔，請在內頁加上innerpage ClassName
.innerpage {
    > .container {
        @include gutter(); //gutter 代表左右要留白
        display: flex;
    }
    .center_block {
        flex: none;
        flex-basis: 100%;
        max-width: 100%;
    }
    .left_block {
        flex: none;
        flex-basis: 260px;
        max-width: 260px;
        margin-right: 40px;
        &.hidden {
            + .center_block {
                flex: none;
                flex-basis: 100%;
                max-width: 100%;
            }
        }
        + .center_block {
            flex: auto;
            flex-basis: calc(100% - 300px);
            max-width: calc(100% - 300px);
        }
        @include screen('tablet') {
            display: none;
            + .center_block {
                flex: none;
                flex-basis: 100%;
                max-width: 100%;
            }
        }
    }
    &.small_size {
        font-size: 0.938em;
    }
    &.large_size {
        font-size: 1.125em;
    }
}

.hidden {
    display: none;
}

.container {
    width: 100%;
    margin: 0 auto;
    position: relative;
}
h2.title {
    text-align: center;
    display: block;
    position: relative;
    margin: 0 auto 0.5em;
    span {
        font-size: 2em;
        font-family: 'Bodoni Moda', serif;
        font-family: 'Playfair Display', serif;
        color: #333;
        font-weight: normal;
        position: relative;
        display: block;
        margin-bottom: 1em;
        line-height: 1.45em;
        br {
            display: none;
            @include screen('mobile') {
                display: block;
            }
        }
        @include screen('mobile') {
            font-size: 1.75em;
            line-height: 1.25em;
            margin-bottom: 0.5em;
        }
        &:after {
            position: absolute;
            content: '';
            width: 250px;
            border-top: 2px solid #97a745;
            left: 50%;
            margin-left: -125px;
            bottom: -0.5em;
            @include screen('mobile') {
                bottom: -0.25em;
            }
        }
    }
    p {
        font-size: 0.938rem;
        line-height: 1.45em;
        font-weight: normal;
        color: #444;
    }
}
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    .container {
        display: flex;
        align-items: center;
        height: 80px;
        border-bottom: 1px solid #eee;
        transition: 0.5s $cubic;
        @include screen('mobile') {
            height: 80px;
            border: none;
        }
    }
    h1 {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 150px;
        transition: 0.5s $cubic;
        margin: 0;
        height: 65px;
        @include screen('mobile') {
            height: 40px;
        }
        img {
            width: 150px;
            height: 65px;
            transform: scale(0.8);
            transition: 0.5s $cubic;
            @include screen('mobile') {
                transform: scale(0.9);
                width: 93px;
                height: 40px;
            }
        }
    }
    nav {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
        @include screen('mobile') {
            display: none;
        }
        ul {
            @include li-reset;
            display: flex;
            justify-content: flex-end;
            li {
                flex-grow: 0;
                flex-shrink: 1;
                flex-basis: auto;
                padding: 0 2em;
                a {
                    display: block;
                    color: #fff;
                    white-space: nowrap;
                    font-size: 1em;
                    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
                    &:hover,
                    &:focus {
                        color: #fff;
                    }
                }
            }
        }
    }
}
$line-height: 90px;
$line-height-abs: -90px;
@keyframes scrolldown {
    0% {
        background-position: 0 $line-height-abs;
    }
    75% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 $line-height;
    }
}
//
section {
    padding: 3em 0;
    min-height: 480px;
    &.kv {
        width: 100%;
        height: 720px;
        padding-top: 5em;
        background: url(../images/kv_bg.jpg) no-repeat top center #2e333d;
        display: flex;
        position: relative;
        @include screen('mobile') {
            padding-top: 3em;
            background: url(../images/kv_m_bg.jpg) no-repeat top center #2e333d;
        }
        .container {
            align-self: 100%;
        }

        .slogan {
            position: absolute;
            width: 50%;
            left: 50%;
            top: 20%;
            margin-left: -48%;
            @include screen('tablet') {
                left: 50%;
                width: 60%;
                top: 20%;
                margin-left: -48%;
            }
            @include screen('mobile') {
                left: 50%;
                top: 3em;
                width: 90%;
                margin-left: -46%;
            }
            .img-container {
                background: transparent;
                @include aspect-ratio(27, 10);
                width: 360px;
                margin-bottom: 1em;
                border-bottom: 1px solid #fff;
                @include screen('mobile') {
                    width: 240px;
                    margin: 0 auto 0.5em;
                }
                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            h2 {
                margin: 0 auto;
                color: #fff;
                span {
                    display: block;
                    font-weight: normal;
                    font-size: 1.35em;
                    font-family: 'Bodoni Moda', serif;
                    font-family: 'Playfair Display', serif;
                    line-height: 1.25em;
                    @include screen('mobile') {
                        font-size: 1.125em;
                        text-align: center;
                    }
                    & + span {
                        text-indent: 4em;
                        @include screen('tablet') {
                            text-indent: 0em;
                        }
                    }
                }
                em {
                    font-size: 0.75em;
                    display: block;
                    font-style: normal;
                    margin-top: 2em;
                    text-align: left;
                    font-weight: normal;
                    text-indent: 8em;
                    @include screen('tablet') {
                        text-indent: 0em;
                        text-align: center;
                    }
                }
            }
        }
        .c-scrolldown {
            width: 1px;
            height: $line-height;
            position: absolute;
            bottom: 20px;
            left: 0;
            right: 0;
            margin: 0 auto;
            overflow: hidden;
            z-index: 9;
            @include screen('mobile') {
                bottom: 40px;
            }
            .c-line {
                width: 100%;
                height: 100%;
                display: block;
                background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 50%);
                background-position: 0 $line-height-abs;
                background-size: 100% 200%;
                animation: scrolldown 1.2s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
            }
        }
    }
    // 優雅美感 極致品味
    &.elegant {
        background: #222222;
        background-size: contain;
        padding-bottom: 0;
        .container {
            display: flex;
            flex-flow: row wrap;
            h2.title {
                flex-grow: 1;
                flex-shrink: 1;
                flex-basis: 100%;
                margin-bottom: 0;
                span {
                    color: #fff;
                    margin-bottom: 0;
                    @include screen('mobile') {
                        margin-bottom: 1em;
                    }
                }
            }
            .left,
            .right {
                flex-grow: 1;
                flex-shrink: 1;
                flex-basis: 300px;
            }
            .left {
                color: #fff;
                display: flex;
                flex-flow: row wrap;
                align-content: center;
                @include screen('mobile') {
                    flex-basis: 90%;
                    margin: 0 auto 1em;
                }
                span {
                    margin: 0 0 0.2em;
                    display: block;
                    font-size: 0.813em;
                    flex: 0 1 100%;
                    @include screen('mobile') {
                        text-align: center;
                    }
                }
                h3 {
                    font-family: 'Bodoni Moda', serif;
                    font-family: 'Playfair Display', serif;
                    font-size: 3.8em;
                    line-height: 1.125em;
                    font-weight: normal;
                    margin: 0.25em 0 0.5em;
                    flex: 0 1 100%;
                    @include screen('tablet') {
                        font-size: 2.5em;
                    }
                    @include screen('mobile') {
                        text-align: center;
                    }
                }
                p {
                    @include screen('mobile') {
                        width: 80%;
                        margin: 0 auto 1em;
                        text-align: center;
                    }
                }
            }
            .right {
                flex-grow: 0;
                flex-basis: 45%;
                width: 45%;
                align-self: flex-end;
                @include screen('mobile') {
                    flex-basis: 90%;
                    width: 90%;
                    margin: 0 auto;
                }
                .img-container {
                    position: relative;
                    @include aspect-ratio(10, 12);
                    background-color: transparent;
                    img {
                        position: absolute;
                        object-fit: cover;
                    }
                }
            }
        }
    }
    // authorize
    &.authorize {
        h2.title {
            text-align: center;
            span {
                color: #555;
            }
        }
        .authorize_set {
            .item {
                display: flex;
                margin: 0 0 3em;
                @include screen('mobile') {
                    flex-flow: row wrap;
                }
                .info {
                    flex-grow: 0;
                    flex-shrink: 1;
                    flex-basis: 48%;
                    margin: 0;
                    @include screen('mobile') {
                        flex-basis: 100%;
                        order: 1;
                    }
                    h3 {
                        font-family: 'Bodoni Moda', serif;
                        font-family: 'Playfair Display', serif;
                        font-size: 2em;
                        margin: 0 0 1em;
                    }
                    p {
                        color: #333;
                    }
                }
                .img-container {
                    flex-grow: 0;
                    flex-shrink: 1;
                    flex-basis: 48%;
                    margin: 0 0 0 auto;
                    width: 48%;
                    @include screen('mobile') {
                        flex-basis: 100%;
                        order: 0;
                        margin-bottom: 1em;
                    }
                    @include aspect-ratio(2, 1);
                    img {
                        object-fit: cover;
                    }
                }
                &:nth-child(2n) {
                    .info {
                        margin: 0 0 0 auto;
                        order: 1;
                        @include screen('mobile') {
                            flex-basis: 100%;
                            order: 1;
                        }
                    }
                    .img-container {
                        margin: 0;
                        order: 0;
                        @include screen('mobile') {
                            flex-basis: 100%;
                            order: 0;
                            margin-bottom: 1em;
                        }
                    }
                }
            }
        }
    }
    // set
    &.set {
        background: url(../images/gray_bg2.jpg) no-repeat center top;
        background-size: cover;
        padding-bottom: 4em;
        .set_content {
            display: flex;
            flex-flow: row wrap;
            .item {
                flex-grow: 0;
                flex-shrink: 1;
                flex-basis: 50%;
                padding: 0 1em;
                text-align: center;
                margin: 0 0 3em;
                @include screen('mobile') {
                    flex-basis: 100%;
                }
                span {
                    font-family: 'Bodoni Moda', serif;
                    font-family: 'Playfair Display', serif;
                }
                h3 {
                    font-family: 'Bodoni Moda', serif;
                    font-family: 'Playfair Display', serif;
                    font-size: 2em;
                    position: relative;
                    margin: 0.5em 0 1.5em;
                    @include screen('mobile') {
                        margin: 0.25em 0 1em;
                    }
                    &:after {
                        position: absolute;
                        content: '';
                        width: 250px;
                        border-top: 1px solid #313131;
                        left: 50%;
                        margin-left: -125px;
                        bottom: -0.75em;
                    }
                }
                ul {
                    @include li-reset;
                }
            }
        }
    }
    // good
    &.good {
        padding-top: 1em;
        h2.title {
            margin-bottom: 5em;
            span {
                padding: 0 1em;
                line-height: 1.25em;
            }
            span,
            p {
                position: relative;
                z-index: 2;
                color: #fff;
                font-weight: normal;
            }
            &:before {
                position: absolute;
                content: '';
                background: url(../images/h2_bg.jpg) no-repeat center center;
                width: 100%;
                max-width: 1360px;
                height: 300px;
                z-index: 0;
                left: 50%;
                margin-left: -50%;
                top: -4em;
                box-shadow: rgba(0, 0, 0, 0.85) 0px 5px 50px -12px;
                @include screen('tablet') {
                    top: -3em;
                }
                @include screen('xs_mobile') {
                    top: -2em;
                }
            }
        }
        .good_content {
            display: flex;
            @include screen('tablet') {
                flex-flow: row wrap;
            }
            .item {
                flex-grow: 0;
                flex-shrink: 1;
                flex-basis: 33%;
                padding: 0 1em;
                @include screen('tablet') {
                    flex-basis: 100%;
                    margin-bottom: 2em;
                }
                h3 {
                    margin: 0 0 1em;
                    font-family: 'Bodoni Moda', serif;
                    font-family: 'Playfair Display', serif;
                    display: flex;
                    font-weight: normal;
                    align-items: center;
                    font-size: 1.5em;
                    height: 2em;
                    padding-left: 3.5em;
                    line-height: 1.45em;
                    position: relative;
                    .num {
                        flex-grow: 0;
                        flex-shrink: 1;
                        flex-basis: auto;
                        margin-right: 0.5em;
                        font-size: 2.5em;
                        display: block;
                        position: absolute;
                        left: 0em;
                        font-family: 'Times New Roman', Times, serif;
                        color: #839705;
                        &:after {
                            content: '.';
                        }
                    }
                    span {
                        font-size: 1.5em;
                    }
                }
                h4 {
                    font-size: 1.5em;
                    margin: 0 0 1em;
                    font-family: 'Bodoni Moda', serif;
                    font-family: 'Playfair Display', serif;
                    @include screen('tablet') {
                        margin: 0 0 0.5em;
                    }
                }
                p {
                    color: #666;
                    line-height: 1.5em;
                    min-height: 4.5em;
                    @include screen('tablet') {
                        margin: 0 0 0.5em;
                        min-height: auto;
                    }
                }
            }
        }
    }
    // intro-1
    &.intro-1 {
        position: relative;
        display: flex;
        flex-flow: row wrap;
        background: #eaeaea;
        padding: 0;
        min-height: 15em;
        @include screen('mobile') {
            padding: 3em 0;
        }
        .container {
            display: flex;
            justify-content: center;
            @include screen('mobile') {
                flex-flow: row wrap;
            }
            .left {
                flex-grow: 0;
                flex-shrink: 1;
                flex-basis: 60%;
                padding: 0 1em 0 0;
                @include screen('mobile') {
                    flex-grow: 0;
                    flex-shrink: 1;
                    flex-basis: 100%;
                }
                ul {
                    @include li-reset;
                    display: flex;
                    margin: 2em 0;
                    li {
                        flex-grow: 0;
                        flex-shrink: 1;
                        flex-basis: 33.3333%;
                        text-align: center;
                        img {
                            width: 120px;
                            display: block;
                            margin: 0 auto 0.5em;
                            @include screen('mobile') {
                                width: 60px;
                            }
                        }
                    }
                }
            }
            .right {
                flex-grow: 0;
                flex-shrink: 1;
                flex-basis: 40%;
                position: relative;
                .img-container {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    right: 0;
                    img {
                        position: absolute;
                        object-fit: cover;
                    }
                }
            }
            h2.title {
                text-align: left;
                justify-content: flex-start;
                flex-grow: 0;
                flex-shrink: 1;
                flex-basis: 100%;
                p {
                    @include screen('mobile') {
                        text-align: center;
                        max-width: 80%;
                        margin: 0 auto 1em;
                    }
                }
                @include screen('mobile') {
                    @include screen('tablet') {
                    }
                }
                span {
                    justify-content: flex-start;
                    text-align: left;
                    @include screen('mobile') {
                        justify-content: center;
                        text-align: center;
                    }
                    &:after {
                        left: 0;
                        margin-left: 0;
                        @include screen('mobile') {
                            left: 50%;
                            margin-left: -125px;
                        }
                    }
                }
            }
        }
    }
    // intro-2
    &.intro-2 {
        position: relative;
        display: flex;
        flex-flow: row wrap;
        .container {
            h2.title {
                text-align: left;
                justify-content: flex-start;
                flex-grow: 0;
                flex-shrink: 1;
                flex-basis: 100%;
                p {
                    @include screen('mobile') {
                        text-align: center;
                        max-width: 80%;
                        margin: 0 auto 1em;
                    }
                }
                @include screen('mobile') {
                    @include screen('tablet') {
                    }
                }
                span {
                    justify-content: flex-start;
                    text-align: left;
                    @include screen('mobile') {
                        justify-content: center;
                        text-align: center;
                    }
                    &:after {
                        left: 0;
                        margin-left: 0;
                        @include screen('mobile') {
                            left: 50%;
                            margin-left: -125px;
                        }
                    }
                }
            }
        }
        .img-container {
            position: absolute;
            width: 450px;
            @include aspect-ratio(1, 1);
            background: transparent;
            top: 6em;
            left: 60%;
            @include screen('mobile') {
                width: 300px;
                left: 60%;
                top: auto;
                bottom: -3em;
            }
            img {
                position: absolute;
                object-fit: cover;
            }
        }
        ul {
            @include li-reset;
            @include screen('mobile') {
                width: 70%;
            }
            li {
                display: flex;
                justify-content: flex-start;
                align-self: center;
                margin-bottom: 1em;
                .pic {
                    flex-grow: 0;
                    flex-shrink: 1;
                    flex-basis: 4em;
                    position: relative;
                    width: 4em;
                    left: 0;

                    img {
                    }
                }
                span {
                    flex-grow: 1;
                    flex-shrink: 1;
                    flex-basis: 50%;
                    padding: 0 1em;
                }
            }
        }
    }
    // professional
    &.professional {
        padding-top: 1em;
        padding-bottom: 2em;
        min-height: 10em;
        background: url(../images/texture-bg.jpg) no-repeat center top;
        background-size: cover;
        h2.title {
        }
        .professional_content {
            display: flex;
            @include screen('tablet') {
                flex-flow: row wrap;
            }
            .item {
                flex-grow: 0;
                flex-shrink: 1;
                flex-basis: 25%;
                padding: 0 1em;
                @include screen('tablet') {
                    flex-basis: 50%;
                }
                @include screen('xs_mobile') {
                    flex-basis: 100%;
                }
                h3 {
                    margin: 0 0 1em;
                    font-family: 'Bodoni Moda', serif;
                    font-family: 'Playfair Display', serif;
                    display: flex;
                    font-weight: normal;
                    align-items: center;
                    font-size: 1.5em;
                    position: relative;
                    @include screen('tablet') {
                        margin: 0em 0 0.25em;
                    }
                    span {
                        font-size: 1.25em;
                        line-height: 1.25em;
                    }
                }
                h4 {
                    font-size: 1.5em;
                    margin: 0 0 1em;
                    font-family: 'Bodoni Moda', serif;
                    font-family: 'Playfair Display', serif;
                }
                p {
                    color: #666;
                    line-height: 1.5em;
                    min-height: 4.5em;
                    @include screen('tablet') {
                        margin: 0 0 1em;
                    }
                }
            }
        }
    }
}
footer {
    background: #111;
    padding: 3em 0;
    .container {
        display: flex;
        @include screen('tablet') {
            flex-flow: row wrap;
        }
        .footer_logo {
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 300px;
            img {
                max-height: 50px;
                margin-right: 2em;
            }
            @include screen('tablet') {
                flex-basis: 100%;
            }
        }
        .follow {
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: 30%;
            h3 {
                color: #fff;
                margin: 0 0 0.25em;
            }
            p {
                margin: 0;
                color: #999;
            }
            @include screen('tablet') {
                flex-basis: 50%;
            }
            @include screen('xs_mobile') {
                flex-basis: 100%;
            }
        }
        .contact {
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: 30%;
            h3 {
                color: #fff;
                margin: 0 0 0.25em;
            }
            p {
                margin: 0;
                color: #999;
            }
            a {
                color: #fff;
                &:hover,
                &:focus {
                    color: #ffc37e;
                }
            }
            @include screen('tablet') {
                flex-basis: 50%;
            }
            @include screen('xs_mobile') {
                flex-basis: 100%;
            }
        }
    }
}
//
.scrollToTop {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url(../images/basic/top.png) no-repeat center top rgba(0, 0, 0, 0.4);
    text-align: center;
    color: #fff;
    line-height: 50px;
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    transition: 0.3s ease-out;
    display: none;
    z-index: 99999999;
    text-indent: -999999px;
    &:hover,
    &:focus {
        background: url(../images/basic/top.png) no-repeat center top rgba(0, 0, 0, 0.8);
        box-shadow: none;
    }
}

// header fix
header.fixed {
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 25px;
    background: rgba(0, 0, 0, 0.75);
    z-index: 999;
    .container {
        height: 50px;
        border: none;
        h1 {
            height: 40px;
            img {
                width: 93px;
                height: 40px;
            }
        }
    }
    &:before {
        background: rgba(0, 0, 0, 0.35);
    }

    nav {
        > ul {
            > li {
                > a {
                    color: #fff;
                }
            }
        }
    }
}
